@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body,
	html {
		height: 100%;
	}

	@font-face {
		font-family: 'Hatton';
		src: url('/fonts/pphatton-ultralight-webfont.woff2') format('woff2'),
			url('/fonts/pphatton-ultralight-webfont.woff') format('woff');
		font-weight: 200;
	}

	@font-face {
		font-family: 'Hatton';
		src: url('/fonts/pphatton-bold-webfont.woff2') format('woff2'),
			url('/fonts/pphatton-bold-webfont.woff') format('woff');
		font-weight: 700;
	}

	@font-face {
		font-family: 'Hatton';
		src: url('/fonts/pphatton-medium-webfont.woff2') format('woff2'),
			url('/fonts/pphatton-medium-webfont.woff') format('woff');
		font-weight: 500;
	}

	h1,
	h2,
	h3,
	h4 {
		font-family: 'Hatton';
	}
}
input::placeholder {
	display: none !important;
}
.prose ul li:before {
	display: none !important;
}
.prose ul li {
	padding-left: 0 !important;
}

#__next {
	height: 100%;
	min-height: 100%;
}
@layer components {
	.label {
		@apply font-lora absolute px-1.5 left-0 text-gray-600 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 peer-focus:-top-5 pointer-events-none peer-focus:text-gray-600 peer-focus:text-sm;
	}
	.label:not(:empty) {
		@apply -top-5;
	}

	.input {
		@apply px-1.5 h-10 w-full font-lora border-b border-gray-300 text-gray-900 placeholder-transparent focus:outline-none focus:border-blue-600;
	}
	.btn {
		@apply text-xs sm:text-base active:scale-105 space-x-2 outline-none focus:ring-2 focus:ring-teal-600 inline-flex items-center px-3 pt-2 min-h-[44px] pb-2 text-teal-100 text-center bg-gray-700 shadow font-mono font-light hover:bg-gray-400;
	}
	.btn.form {
		@apply mt-3;
	}
}

[data-reach-dialog-content] {
	@apply w-full sm:w-3/4 rounded z-30 translate-x-0 transform drop-shadow shadow !important;
}
[data-reach-dialog-overlay] {
	@apply z-20 !important;
}
.p5Canvas {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
}
.p5Canvas {
	width: 100vw;
	height: 100vh;
}
